<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.6.dtd">

<module configVersion="1.6">

    <!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Bahmni</author>
	<description>${project.parent.description}</description>


    <require_modules>
        <require_module>org.openmrs.module.webservices.rest</require_module>
        <require_module>org.bahmni.module.bahmnicore</require_module>
        <require_module>org.openmrs.module.fhir2</require_module>
    </require_modules>

    <activator>org.openmrs.module.fhir2.apiext.MedicationAdministrationActivator</activator>

</module>
